.sitearea{
    background-color: #ACFFAD;
    height: 600px;
    width:1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.Cabeçalho {
    background-color: #71EFA3;
    border: lightgrey solid 1px;
    display: flex;
    align: center;
    height: 100px;
    width: 1000px;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 300px;
    color: #54436B;
    text-align: center;
    
}

li{ 
    margin-left: 30px;
    margin-top: 20px;
    display: inline;
        
    
}


.logomarca {
height: 100px; 
width: 100px;
margin: 2px 2px;
display: flex;
box-align: left;
    
}

.mainContainer{
    height: 900px;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    column-count: 2;
    justify-items: center;
    
}

.banner{
    height: 300px;
    width: 600px;
    float: left;
    
    
}


.formulario {
    background-color: #50CB93;
    border: white solid 2px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
 
}
 
.formtext{
    font-family: Helvetica;
    font-size: 15px;
}
.botaoNewsletter{
    align-content: center;
    color: white;
    background-color: #54436B;
    border-radius: 10%;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;

}

.botaoNewsletter:hover{

    cursor: pointer;
    background-color:rgb(158, 223, 118);
    color: black;
}

.promoContainer{
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
}

.promo{
    border: darkblue solid 2px;
    height: 300px;
    width: 400px;
}

.mainfootContainer{
    background-color:#71EFA3;
    height: 100px;
    width: 1000px;

}
    
